* {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #000000;
  --bg-color-2: #585858;
  --bg-color-3: #404040;
  --text-primary: #fff;
  --text-secondary: #696773;
  font-family: 'Albert Sans', sans-serif;
  font-size: 62.5%;
}

.light {
  --bg-color: #fcfcfc;
  --bg-color-2: #b3b3b3;
  --bg-color-3: #c7c7c7;
  --text-primary: #020203;
  --text-secondary: #757575;
}



body {
  min-width: 100vw;
  min-height: 100vh;
  transition: 0.5s;
  background-color: #000;
  overflow-x: hidden;
}



.bg-1 {
  background-color: var(--bg-color);
}

.bg-2 {
  background-color: var(--bg-color-2);
}

.bg-3 {
  background-color: var(--bg-color-3);
}

.container {
  padding: 10rem 15%;
  transition: 0.5s;
  min-height: 80vh;
}

section {
  transition: .5s;
}

.header {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
}


.switch_icon {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  object-position: center;

  transition: 0.2s;
}

.switch_icon:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px #838383);
}


.options_div {
  display: flex;
  align-items: center;
}

.options_div ul {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  font-weight: 500;
  color: var(--text-primary);
}

.options_div ul li {
  transition: 0.2s;
  cursor: default;
  user-select: none;
}

.options_div ul li:hover:not(.text_active) {
  cursor: pointer;
  transform: scale(105%);
  filter: brightness(150%) !important;
}

.hero_div {
  display: flex;
  height: 70rem;
  justify-content: space-between;
  align-items: center;
}

.hero_name {
  position: relative;
  overflow: hidden;
  width: 17rem;

  animation-name: text-left-to-right;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.625, 0.010, 0.365, 1.000);
}

@keyframes text-left-to-right {
  0% {
    width: 17rem;
  }

  100% {
    width: 100%;
  }
}

.hero_text {
  position: relative;
}

.hero_name h1 {
  font-size: 10.6rem;
  color: var(--text-primary);
  font-weight: bold;
  margin-left: 10rem;
}

.hero_text span {
  color: var(--text-primary);
  visibility: visible;
  z-index: 1000;
}


.hero_text .bracket_left {
  font-size: 28rem;
  position: absolute;
  top: -4rem;
  left: 0;
}

.hero_text .bracket_right {
  font-size: 28rem;
  position: absolute;
  top: -4rem;
  left: 16rem;

  animation-name: left-to-right;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.625, 0.010, 0.365, 1.000);
}

@keyframes left-to-right {
  0% {
    left: 16rem;
  }

  100% {
    left: 55rem;
  }
}

.hero_images {
  position: relative;
  top: 0;
  left: 0;
  width: 300px;
  border-radius: 50%;
  transform-style: preserve-3d;
  transition: all 1.2s ease;
  display: flex;
  justify-content: end;
  align-items: center;
  
  animation-name: image-flip;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-direction: alternate;
}

@keyframes image-flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

.hero_images:hover {
  transform: rotateY(540deg);
}

.hero_images .front{
  position: absolute;
  backface-visibility: hidden;
  overflow: hidden;
}

.hero_images .back{
  position: absolute;
  backface-visibility: hidden;
  overflow: hidden;
  transform: rotateY(180deg);
  object-position: 37px -35px !important;
  zoom: -1;
}


.profile_pic {
  background-color: var(--text-primary);
  border-radius: 50%;
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: 0 -80px;
  -webkit-filter: drop-shadow(5px 0px 5px #222);
  filter: drop-shadow(5px 0px 5px var(--text-primary));
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;

}

.logo img,
.logo svg {
  height: 100%;
  fill: var(--text-primary);

}

.logo path {
  transition: .2s;
}

.sobre_mim_div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  text-align: center;
  font-size: 2.2rem;
  color: var(--text-primary);
  line-height: 3rem;
}


.collumns {
  display: flex;
  width: 680px;
  border-radius: 2.4rem;
  background-color: var(--bg-color);
}

.collumn {
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 4.8rem;
  flex-direction: column;
  padding: 4rem 2rem;
  color: var(--text-primary);
  font-size: 3.4rem;
}

.collumn i {
  font-size: 4.8rem;
}

.collumn:first-child {
  border-right: 1px solid var(--text-primary);
}

.collumn ul {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-decoration: none;
  list-style: none;
}


.reveal {
  position: relative;
  opacity: 0;
}


.active.fade-bottom-1 {
  animation-timing-function: ease-out;
  animation-name: fade-bottom;
  animation-duration: .5s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

.active.fade-bottom-2 {
  animation-timing-function: ease-out;
  animation-name: fade-bottom;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.active.fade-bottom-3 {
  animation-timing-function: ease-out;
  animation-name: fade-bottom;
  animation-duration: .5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(110px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.habilidades_div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  text-align: center;
  font-size: 2.2rem;
  color: var(--text-primary);
  line-height: 3rem;
}

.habilidades_content_col2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.col2_content_text{
  max-width: 50%;
  width: 100%;
}

.active.fade-left-1{
  animation-timing-function: ease-out;
  animation-name: fade-left;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.active.fade-left-2{
  animation-timing-function: ease-out;
  animation-name: fade-left;
  animation-duration: .5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.active.fade-right-1{
  animation-timing-function: ease-out;
  animation-name: fade-right;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.active.fade-right-2{
  animation-timing-function: ease-out;
  animation-name: fade-right;
  animation-duration: .5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}


.col2_content_image{
  width: 100%;
  max-width: 50%;
  filter: grayscale(1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.col2_content_image img{
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

@keyframes fade-left {
  0% {
    transform: translateX(-110px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(110px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hobbies_div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  text-align: center;
  font-size: 2.2rem;
  color: var(--text-primary);
  line-height: 3rem;
}

